.BtnAjoutRessource {
    background-color: transparent;
    border: none !important;
    outline: none;
    cursor: pointer;
    color: transparent;
    float: right;
    right: 30px;
    bottom: 30px;
    position: absolute;
}